.banner {
    background: url(https://www.wallpaperup.com/uploads/wallpapers/2013/08/12/132784/c0f64bb1f4e636c1a0f33e99bedc5254-700.jpg) no-repeat center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}

